*{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8f9fa
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Heebo:wght@500&display=swap')

.clrfix{
    clear: both;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 48px;
}

.container2{
    padding: 0 120px;
}

.navbar{
    padding: 25px 0 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top:0;
    background-color: #f8f9fa; 
}

/* navbar-left */
.navbar .h-left{
    float: left;
    width: 20%;
}

.navbar .h-left .h-left-item1{
    float: left;
    width: 50%;
}

.navbar .h-left .h-left-item1 img{
    width: 100%;
    padding-top: 5px;
}

.navbar .h-left .h-left-item2{
    float: left;
    width: 50%;
    text-align: center;
}

.navbar .h-left .h-left-item2 button{
    color: #066ac9;
    background-color: #deecf9;
    padding: 10px;
    font-size: 15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}


/* navbar-middle */
.navbar .h-middle{
    float: left;
    width: 55%;
    line-height: 35px;
}

.navbar .h-middle .h-middle-list{
padding: 0 160px;}

.navbar .h-middle .h-middle-item{
    float: left;
    padding: 0 15px;
    cursor: pointer;
}

.navbar .h-middle .h-middle-item a{
    color: #747579;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
}

.navbar .h-middle .colorB a{
   color: #066ac9;
}

.navbar .h-middle .h-middle-item:hover a{
    color: #066ac9;
}


/* navbar-right */
.navbar .h-right{
    float: right;
    width: 23%;
    text-align: right;
}

.navbar .h-right .h-right-item1{
    float: left;
    width: 80%;
    text-align: center;
}

.navbar .h-right .h-right-item1 form{
    border:solid 1px;
    border-radius: 5px;
    border-color: #dde0e3;
}

.navbar .h-right .h-right-item1 input{
    padding: 12px 40px 12px 20px;
    border: none;
    background-color: #f8f9fa

}

.navbar .h-right .h-right-item1 ::placeholder{
    font-size: 15px;
    font-family: 'Roboto Mono', sans-serif;
    color:#97989d
}

.navbar .h-right .h-right-item1 button{
   font-size: 15px;
   background-color: transparent;
   border: none;
   color:#747579;
   cursor: pointer;
}

.navbar .h-right .h-right-item1 button:hover{
    color: #066ac9;
    transform: .5s;
}

.navbar .h-right .h-right-item2{
    float: left;
    width: 20%;
}

.navbar .h-right .h-right-item2 img{
    width: 100%;
    border-radius: 20%;
    height: 43px;
    width: 43px;
}

/* about */
.about{
    margin: 80px 0;
    overflow: hidden;
}

.abt-left{
float: left;
width: 50%;
padding-top: 160px;
box-sizing: border-box;
}

/* svg */
.abt-left .svg-star{
    fill: #f7c32e;
    position: absolute;
    top: 550px;
    left: 600px;
}
/* svg */

.abt-left .svg-tree{
    fill: #0cbc87;
    position: absolute;
    top: 200px;
    left: 450px;
}

.abt-left .svg-circle{
    fill: #fd7d146f;
    position: absolute;
    top: 120px;
    left: 80px;
}

/* svg */
.abt-left h2{
    font-size: 55px;
    font-family: 'Heebo', sans-serif;
    line-height: 70px;
}

/* svg */
.abt-left .svg-shadow{
    position: absolute;
    top: 320px;
    left: 240px;
    z-index: -1;
    fill: #f7c32e;
}
/* svg */

.abt-left p{
padding-top: 30px;
font-size: 19px;
font-family: 'Roboto Mono',sans-serif;
color: #747579;
width: 100%;
line-height: 28px;
}

.abt-left .abt-left-list{
    overflow: hidden;
    padding-top: 30px;
}

.abt-left .abt-left-item1{
float: left;
padding-right: 20px;
color: #747579;
}

.abt-left .abt-left-item1 span{
    padding-left: 5px;
    font-size: 17px;
}

.abt-left .abt-left-item1 i{
color: white;
font-size: 7px;
background-color: black;
border-radius: 50%;
padding: 4px;
}

.abt-left .abt-left-item2{
    float: left;
    padding-right: 35px;
}

.abt-left .abt-left-item2 button{
    cursor: pointer;
    background-color: #fceaed;
    font-size: 16px;
    color:#d6293e;
    padding: 17px 28px;
    border: none;
    border-radius: 5px;
}

.abt-left .abt-left-item2 button:hover{
    background-color:#d6293e;
    color: white;
    transition: .5s;
}

.abt-left-item2-p{
    padding-top: 7px;
}

.abt-left .abt-left-item2 i{
    font-size: 17px;
    text-align: center;
    line-height: 37px;
    color:white ;
    background-color: #066ac9;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #84bff6;
}

.abt-left .abt-left-item2 i:hover{
    box-shadow: 0 0 0 10px #84bff6;
    transition: .5s;
}


.abt-left .abt-left-item2 span{
padding-left: 13px;
font-size: 16px;
font-family: 'Roboto Mono',sans-serif;
color: black;
}

.abt-right{
    float: left;
    width: 50%;
    margin-top: 40px;
    padding-left: 140px;
    box-sizing: border-box;
}

/* svg */
.abt-right .svg-lamp{
    fill: #f7c32e;
    position: absolute;
    top: 250px;
    right: 270px;
}
/* svg */

.abt-right .abt-right-item1 img{
    width: 78%;
}

.abt-right .abt-right-item1 .fill-primary{
    fill: #066ac9;
}

/* svg */
.abt-right .abt-right-item1 svg{
    position: absolute;
    top: 190px;
    right: 150px;
    z-index: -1;
}
/* svg */

.abt-right .abt-right-item{
    overflow: hidden;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.063);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 585px;
    right: 445px;
    box-sizing: border-box;
}

.abt-right .abt-right-item2{
    float: left;
    box-sizing: border-box;
}

.abt-right .abt-right-item2 .fa-envelope{
    color: white;
    font-size: 20px;
    background-color: #f7c32e;
    width: 55px;
    height: 55px;
    border-radius: 20%;
    text-align: center;
    line-height: 55px;
}

.paddingt-7{
    padding-top: 7px;
}

.abt-right .abt-right-item2 span{
color: white;
font-size: 15px;
font-family: 'Roboto Mono',sans-serif;
padding-left: 15px;
}

.abt-right .abt-right-item2 .fa-circle-check{
    padding-left: 30px;
    color: #20c997;
    font-size:16px;
}

.abt-right .abt-right-item2 h4{
    padding-top: 5px;
    padding-left: 15px;
    color: white;
    font-size: 12px;
    font-family: 'Roboto Mono',sans-serif;
}

.abt-right .abt-right-item-ph{
background-image: url(../css/image/background\ of\ abt-right-gr.png);
background-size: cover;
width: 11%;
height: 70px;
background-color: #20c997;
text-align: center;
padding: 20px 13px;
border-radius: 15px;
position: absolute;
top: 275px;
right: 80px;
}

.abt-right .abt-right-item-ph h4{
color: white;
font-size: 16px;
padding-bottom: 20px;
}

.abt-right .abt-right-item3{
float: left;
width: 20%;
}

.abt-right .abt-right-item3 img{
width: 100%;
border-radius: 50%;
border: 2px solid white;
}

.abt-right .abt-right-ph-img2 {
position:relative;
right: 5px;
}

.abt-right .abt-right-ph-img3 {
    position:relative;
    right: 10px;
}

.abt-right .abt-right-ph-img4 {
    position:relative;
    right: 15px;
}

.abt-right .abt-right-ph-5 {
    margin-top: 7px;
    position: relative;
    right: 20px;
}

.abt-right .abt-right-item3 span{
    font-size: 13px; ;
    background-color: #066ac9;
    padding: 10px 6px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.abt-right .abt-right-img1{
    position: absolute;
    top: 500px;
    right: 100px;
    box-shadow: 0 0 0 10px white;
    border-radius: 5px;
    background-color: white;
}

.abt-right .abt-right-img2{
    position: absolute;
    top: 130px;
    right: 150px;
    box-shadow: 0 0 0 10px white;
    border-radius: 5px;
    background-color: white;
}

.abt-right .abt-right-img3{
    position: absolute;
    top: 300px;
    right: 700px;
    box-shadow: 0 0 0 10px white;
    border-radius: 5px;
    background-color: white;
}

/* counter */
.counter{
    margin-top: 90px;
    overflow: hidden;
}

.counter .cnt-item{
    float: left;
    width: 18%;
    padding: 20px 35px;
    color:black;
    overflow: hidden;
    border-radius: 10px;
}

.counter .cnt-item .cnt-icon{
    font-size: 60px;
    float: left;
    width: 50%;
    text-align: center;
}
    
.counter .cnt-item .cnt-desc{
    float: left;
    padding-top: 7px;
    font-size: 20px;
    line-height: 24px;
    width: 50%;
}

.counter .cnt-item .cnt-desc p{
    font-size: 16px;
}

.counter .bk-yl{
    background-color: #ffc10723;
    margin-right: 25px;
}

.counter .bk-yl i{
color: #f7c32e;
}

.counter .bk-gr{
    background-color: #dfe7eed6;
    margin-right: 25px;
}

.counter .bk-gr i{
    color: #1d3b53;
}

.counter .bk-pr{
    background-color: #6e42c115;
    margin-right: 25px;
}

.counter .bk-pr i{
    color: #6f42c1;
}

.counter .bk-bl{
    background-color: #17a3b81d;
}

.counter .bk-bl i{
    color: #17a2b8;
}

/* popular courses */
.p-courses{
    margin-top: 100px;
    text-align: center;
    font-family: "Heebo", sans-serif;
    overflow: hidden;
    background-color: #f8f9fa
}

.p-courses h2{
    font-size: 40px;
    font-family: "Heebo", sans-serif;
    padding-bottom: 17px;
}

.p-courses p{
    font-size: 14px;
    font-family: "Heebo", sans-serif;
    color: #747579;
    padding-bottom: 20px;
}

.p-courses .p-c-bar{
    background-color: #96c9f850;
    padding: 10px 200px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    width: 100%;
}

.p-courses .p-c-bar .p-c-item{
padding-left: 30px;
}

.p-courses .p-c-bar .p-c-item button{
    float: left;
    color:#066ac9;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    padding: 13px 40px;
}

.p-courses .p-c-bar .p-c-item .item-border{
    background-color: #066ac9;
    color: white;
    border-radius: 5px;
    padding: 13px;
}

.p-courses .p-c-content{
margin-top: 25px;
float: left;
width: 25%;
background-color: rgb(234, 239, 243)
border-radius: 10px;
overflow: hidden;
}

.container3{
    padding: 0 14px;
    height: 500px;
}

.p-courses .p-c-content .p-c-content-desc1 img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.p-courses .p-c-content .p-c-content-desc2{
padding: 10px 20px;
text-align: left;
overflow: hidden;
background-color: rgb(255, 255, 255);
}

.p-courses .p-c-content .p-c-content-desc2 .p-c-content-desc2-1{
float: left;    
}

.p-courses .p-c-content .p-c-content-desc2 .green{
    color: #20c997;  
    background-color: #20c99625;
}

.p-courses .p-c-content .p-c-content-desc2 .p-c-content-desc2-2{
    float: right;    
}

.p-courses .p-c-content .p-c-content-desc2 .filled{
    color: #dc3545;
}

.p-courses .p-c-content .p-c-content-desc2 button{
padding: 5px 8px;
background-color: #6e42c115;
color: #6f42c1;
border: none;
border-radius: 5px;
font-size: 12px;
cursor: pointer;
}

.p-courses .p-c-content .p-c-content-desc2 a{
color: black;
}

.p-courses .p-c-content .p-c-content-desc3{
    text-align: left;
    padding: 10px 20px 17px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.173);
    height: 130px;
    background-color: rgb(255, 255, 255);
}

.p-courses .p-c-content .p-c-content-desc3 a{
font-size: 16.5px;
color: black;
line-height: 25px;
}

.p-courses .p-c-content .p-c-content-desc3 a:hover{
    color:#066ac9;
    transition: .5s;
}

.p-courses .p-c-content .p-c-content-desc3 h4{
    font-size: 14px;
    color:#97989d;
    line-height: 20px;
    padding: 10px 0 12px 0;
}

.p-courses .p-c-content .p-c-content-desc3 i{
font-size: 12px;
color: #f7c32e;
}

.p-courses .p-c-content .p-c-content-desc3 span{
    color:black;
    padding-left: 13px;
}

.p-courses .p-c-content .p-c-content-desc4{
    overflow: hidden;
    padding: 17px 20px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-courses .p-c-content .p-c-content-desc4 span{
padding-left: 5px;
}

.p-courses .p-c-content  .p-c-content-desc4-1{
    float: left;
}

.p-courses .p-c-content .p-c-content-desc4-1 i{
    color: #d63384;
}

.p-courses .p-c-content .p-c-content-desc4-2{
    float: right;
}

.p-courses .p-c-content .p-c-content-desc4-2 i{
    color: #fd7e14;
}

/* action box */
.action-box{
    margin:70px 0;
    padding:45px 100px;
    background-color: #17a2b8;
    border-radius: 10px;
    overflow: hidden;
}

.action-box .a-b-left{
float: left;
width: 70%;
}

.action-box .a-b-left h2{
color: white;
font-size: 30px;
}

.action-box .a-b-left p{
    padding-top: 13px;
    color: white;
    font-size: 16px;
    width: 80%;
    line-height: 25px;
}

.action-box .a-b-right{
float: right;
width: 30%;
padding-top: 30px;
text-align: right;
}

.action-box .a-b-right button{
padding: 10px 15px;
font-size: 15px;
color:#f7c32e ;
border: 1px solid #f7c32e;
background-color: transparent;
border-radius: 5px;
cursor: pointer;
}

.action-box .a-b-right button:hover{
    color:black ;
    border: 1px solid #f7c32e;
    background-color:#f7c32e;
    transition: 1s;
}

/* trensing courses */
.t-courses{
margin: 50px 0;
overflow: hidden;
}

.t-courses h2{
    margin: 15px 0;
    font-size: 45px;
    text-align: center;
}

.t-courses p{
    margin: 20px 0;
    font-size: 15px;
    color:#747579 ;
    text-align: center;
}

.t-courses .t-c-content{
    border: 1px solid rgba(128, 128, 128, 0.305);
    width: 49%;
    float: left;
    border-radius: 10px;
}

.t-courses .t-c-padd{
    margin-left: 5px;
}

.t-courses .t-c-content-desc1 img{
    width: 100%;
}

.t-courses .t-c-content-desc2{
overflow: hidden;
padding: 15px 15px;
}

.t-courses .t-c-content-desc2 .t-c-content-desc2-1{
float: left;
padding: 5px 8px;
background-color: #066bc931;
color:#066ac9;
border: none;
border-radius: 5px;
font-size: 12px;
cursor: pointer;
}

.t-courses .t-c-content-desc2 .t-c-content-desc2-2{
    float: left;
    padding: 5px 8px;
    background-color:black;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.t-courses .t-c-content-desc2 .t-c-content-desc2-3{
    float: right;
    color: black;
}

.t-courses .t-c-content-desc2 .t-c-content-desc2-3:hover{
    color:#066ac9;
    transition: 1s;
}

.t-courses .t-c-content-desc3{
padding: 0px 15px;
overflow: hidden;
}

.t-courses .t-c-content-desc3 a{
    color: black;
    font-size: 19px;
    line-height: 35px;
}

.t-courses .t-c-content-desc3 a:hover{
    color:#066ac9;
    transition: 1s;
}


.t-courses .t-c-content-desc3 .t-c-content-desc3-left{
    float:left;
    padding: 10px 0;
}

.t-courses .t-c-content-desc3 .yellow{
    color: #f7c32e;
}

.t-courses .t-c-content-desc3 .gray{
    color:#747579;
    padding-left: 5px;
}

.t-courses .t-c-content-desc3 i{
    color: #f7c32e;
}

.t-courses .t-c-content-desc3 .t-c-content-desc3-right{
    float:right;
    padding: 10px 0;
}

.t-courses .t-c-content-desc4{
overflow: hidden;
padding: 0 15px 15px 15px;
border-bottom: 1px solid rgba(128, 128, 128, 0.222);
}

.t-courses .t-c-content .t-c-content-desc4 span{
    padding-left: 5px;
}

.t-courses .t-c-content-desc4 .t-c-content-desc4-1{
float: left;
padding-right: 25px;
}

.t-courses .t-c-content-desc4 .t-c-content-desc4-2{
    float: left;
}

.t-courses .t-c-content-desc4 .t-c-content-desc4-1 i{
    color: #d63384;
}

.t-courses .t-c-content-desc4 .t-c-content-desc4-2 i{
    color:  #fd7e14;
}

.t-courses .t-c-content-desc5{
padding: 15px 10px;
}

.t-courses .t-c-content-desc5 .t-c-content-desc5-1{
float:left;
}

.t-courses .t-c-content-desc5 .t-c-content-desc5-1 img{
width: 15%;
border-radius: 5px;
}

.t-courses .t-c-content-desc5 .t-c-content-desc5-1 span{
padding-left: 10px;
}

.t-courses .t-c-content-desc5 .t-c-content-desc5-1 span:hover{
color: #066ac9;
transition: 1s;
cursor: pointer;
}

.t-courses .t-c-content-desc5 .t-c-content-desc5-2{
    float:right;
    font-size: 30px;
    color: #0cbc87;
    cursor: pointer;
}

.t-courses .t-c-content-desc5 .t-c-content-desc5-2 span:hover{
    font-size: 40px;
}

/* reviews */
.review{
    margin: 50px 0;
    overflow: hidden;
    background-color: #e9ecef;
    padding: 20px 0 50px 0;
}

.review .rev-left{
    width: 30%;
    padding-top: 120px;
    float: left;
}

.review .rev-left .rev-content1{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.review .rev-left .rev-content1 .rev-content1-img{
    padding-bottom: 15px;
}

.review .rev-left .rev-content1 .rev-content1-img img{
    width: 25%;
    border-radius: 50%;
}

.review .rev-left .rev-content1 .rev-content1-desc{
    color: #747579;
    font-size: 16px;
    padding-bottom: 25px;
}

.review .fa-star{
    color: #f7c32e;
    font-size: 13px;
}

.review .rev-left .rev-content1 h3{
    padding-top: 10px;
    font-size: 15px;
}

.review .rev-left .rev-content2{
    background-color: #066ac9;
    background-image: url(../css/image/background\ of\ abt-right-gr.png);
    background-size: cover;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    float: right;
    color: white;
    line-height: 30px;
    font-size: 20px;
}

.review .rev-left .rev-content2 h4{
font-size: 15px;
}

.review .rev-middle{
float: left;
width: 30%;
}

.review .rev-middle .rev-middle1{
    width: 60%;
    margin-top: 70px;
    margin-left:30px;
    background-color: white;
    border-radius:10px;
}

.review .rev-middle .rev-middle1 h3{
    font-size: 19px;
    padding: 20px 0;
    text-align: center;
}

.review .rev-middle .rev-middle1  .rev-middle-img{
    width: 35%;
    float: left;
    text-align: center;
}

.review .rev-middle .rev-middle1  .rev-middle-img img{
    width: 50%;
    border-radius: 5px;
}

.review .rev-middle .rev-middle1  .rev-middle-desc{
    width: 65%;
    float: left;
    border-radius: 5px;
    line-height: 20px;
}

.review .rev-middle .rev-middle1  .rev-middle-desc h5{
    color:#747579 ;
}


.rev-middle-details{
    overflow: hidden;
    padding-bottom: 10px;
}


.review .rev-middle2{
    padding: 30px;
    margin-top: 20px;
    width: 80%;
}

.review .rev-middle2 .rev-content1{
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;

}

.review .rev-middle2 .rev-content1 .rev-content1-img{
    padding-bottom: 15px;
}

.review .rev-middle2 .rev-content1 .rev-content1-img img{
    width: 30%;
    border-radius: 50%;
}

.review .rev-middle2 .rev-content1 .rev-content1-desc{
    color: #747579;
    font-size: 17px;
    padding-bottom: 25px;
}

.review .rev-middle2 .rev-content1 h3{
    padding-top: 10px;
    font-size: 15px;
}

.review .rev-middle2 .rev-content2{
    background-color: #066ac9;
    background-image: url(../css/image/background\ of\ abt-right-gr.png);
    background-size: cover;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    float: right;
    color: white;
    line-height: 30px;
    font-size: 20px;
}

.review .rev-middle2 .rev-content2 h4{
font-size: 15px;
}

.review .rev-right{
    float: left;
    width: 40%;
    padding-top: 210px;
}

.review .rev-right h2{
    font-size: 45px;
    padding-bottom: 20px;
}

.review .rev-right p{
    font-size: 16px;
    padding-bottom: 20px;
    color: #747579;
}

.review .rev-right button{
    font-size: 16px;
    padding: 12px;
    color: white;
    background-color: #066ac9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.review .rev-right button:hover{
    background-color: #0555a1;
    transition: .5s;
    
}
/* footer top */
.footer{
    background-color: #f8f9fa;
    padding-top: 10px;
    overflow: hidden;
}

.footer .f-top .f-top-content1{
    float: left;
    width: 25%;
}

.footer .f-top .f-top-content2{
    float: left;
    width: 17%;
}

.footer .f-top .f-top-content1 a img{
    width: 70%;
}

.footer .f-top .f-top-content1 p{
    color: #747579;
    line-height: 20px;  
    padding: 10px 0; 
    width: 90%;
}

.footer .f-top .f-top-content1 li{
    float: left;   
    padding: 5px;
}

.footer .f-top .f-top-content1 li button{
    padding: 10px 12px; 
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fa-facebook-f{
    color:#5d82d1;
}

.fa-instagram{
    color:#c22b72;
}

.fa-twitter{
    color: #40bff5;
}

.fa-linkedin-in{
    color: #238cc8;
}

.footer .f-top .f-top-content1 li button:hover{
    background-color: rgb(234, 239, 243);
    border:1px solid white;    
}

.footer .f-top .f-top-content2 h3{
    font-size: 23px;
    padding:10px 0 20px 0;
}

.footer .f-top .f-top-content2 li {
    font-size: 18px;
    line-height: 30px;
}

.footer .f-top .f-top-content2 li a{
    color:#747579 ;
}

.footer .f-top .f-top-content2 li a:hover{
    color:#0555a1;
    transition: 1s;
}

.footer .f-top .f-top-content2 h4{
    font-size: 17px;
    color: gray;
    display: inline;
}

.footer .f-top .f-top-content2 span{
    font-size: 16px;
    display: inline;
}

.footer .f-top .width30{
width: 24%;
}

.footer .f-top .f-top-content2 .f-top-app-img{
    padding-top: 10px;
}

.footer .f-top .f-top-content2 .f-top-app-img img{
    display: inline;
    width: 49%;
}

.footer .f-bottom-left{
padding: 50px 0;
float: left;
color: gray;
font-size: 17px;
}

.footer .f-bottom-right{
padding: 50px 0;
float: right;
}

.footer .f-bottom-right li{
float: left;
padding-left: 30px;
}

.footer .f-bottom-right li a{
color: gray;
font-size: 17px;
}

.footer .f-bottom-right li a:hover{
color:#0555a1;
transition: 1s;
}

.footer .f-bottom-right li a i{
    font-size: 15px;
    padding-right: 5px;
}


/* media query */

@media (min-width:768px) and (max-width:800px){

    .navbar .h-left{
        float: left;
        width: 30%;
    }

       .navbar .h-left .h-left-item1 img{
        width: 100%;
    }

    .navbar .h-left .h-left-item2 button{
        font-size: 12px;
        padding: 7px;
}

.navbar .h-middle{
display: none;
}

.navbar .h-right{
    width: 35%;
}

.navbar .h-right .h-right-item1 input{
    width: 70%;

}

.about{
    margin: 40px 0;
}

.abt-left{
    float: none;
    margin: auto;
    width: 100%;
}

    .abt-right{
        float: none;
        width: 100%;
}

    .abt-left h2{
        font-size: 35px;
        text-align: center;
}

.abt-left .svg-shadow{
position: absolute;
top: 275px;
right: 300px;
}

.abt-left p{
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
}

.abt-left .abt-left-item1{
    padding-left: 15px;
}

.abt-left .abt-left-item2{
        padding-top: 20px;
        padding-left: 40px;
        width: 35%;
}

.abt-right .abt-right-item1 img{
    width: 110%;
}

.abt-right .abt-right-item1 svg{
    position: absolute;
    top: 760px;
    right: 35px;
}

.abt-right .svg-lamp{
    top: 800px;
    right: 150px;
}

.abt-right .abt-right-item{
    border:;
    background-color:#066bc934;
    position: absolute;
    top: 900px;
    right: 445px;
    backdrop-filter: none;

}

.abt-right .abt-right-item-ph{
    width: 20%;
    height: 55px;
    position: absolute;
    top: 1100px;
    left: 50px;
}

    .abt-right .abt-right-item-ph h4{
        font-size: 14px;
        padding-bottom: 12px;

}

.abt-right-decor{
    display: none;
}

.abt-left .svg-star{
    top: 650px;
    left: 700px;
}

.counter .cnt-item .cnt-icon{
    font-size: 60px;
    text-align: left;
    width: 40%;
}

.counter .cnt-item{
    width: 30%;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.counter .cnt-item .cnt-desc{
    font-size: 15px;
    width: 60%;
    text-align: center;
}

.counter .cnt-item .cnt-desc p{
    font-size: 12px;
}

.p-courses{
    margin-top: 50px;
 }

 .p-courses .p-c-bar{
    padding: 10px;
    width: 100%;
}

 .p-courses .p-c-bar .p-c-item{
    padding-left: 0;
}

 .p-courses .p-c-bar .p-c-item button{
    font-size: 12px;
    padding: 20px;
}

.p-courses .p-c-content{
    float: none;
    width: 100%;
}

.container3{
    height: 650px;
}

.action-box{
    margin:40px 0 20px 0;
    padding:45px 40px;
}

.action-box .a-b-left h2{
    font-size: 25px;
}

.action-box .a-b-left p{
    font-size: 12px;
    width: 90%;
}

.action-box .a-b-right button{
    font-size: 12px;
}

.t-courses .t-c-content{
    width: 100%;
    float: none;
    margin-bottom: 20px;
}

.review{
    margin: 0;
}

.review .rev-left{
    width: 100%;
    float: none;
}

.review .rev-left .rev-content2{
    float: none;
    margin: auto;
    margin-top:20px;
}

.review .rev-middle{
    float: none;
    width: 100%;
    margin-top: 30px;
}

.review .rev-middle .rev-middle1{
    width: 60%;
     margin: auto;
}

.review .rev-middle2{
    width: 85%;
    margin-top: 10px;
}

.review .rev-right{
    float: none;
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.review .rev-right h2{
    font-size: 25px;
}

.footer .f-top .f-top-content1 {
    padding-right: 1.5px;
    width: 23%;
}

.footer .f-top .f-top-content2 {
    padding-right: 3px;
    width: 16%;
}

.footer .f-top .f-top-content1 p{
    font-size: 12px;
    width: 90%;
}

.footer .f-top .f-top-content2 h3{
    font-size: 15px;
    padding:10px 0 10px 0;
}

.footer .f-top .f-top-content2 li {
    font-size: 12px;
}

.footer .f-top .f-top-content1 li{
    padding: 2px;
}

.footer .f-top .f-top-content1 li button{
    padding: 7px; 
}

.footer .f-top .f-top-content2 h4{
    font-size: 12px;
}

.footer .f-top .f-top-content2 span{
    font-size: 12px;
}

.footer .f-top .f-top-content2 .f-top-app-img img{
    width: 45%;
}

.footer .f-bottom-left{
    float: none;
    padding: 40px 0 0 30px;
    font-size: 15px;
}

.footer .f-bottom-right{
    padding: 20px 0;
    float: none;
}

.footer .f-bottom-right li{
    padding-right: 30px;
}

.footer .f-bottom-right li a{
    font-size: 15px;
}
    

.footer .f-bottom-right li a i{
    font-size: 12px;
}
}